---
title: Contact
layout: default
bodyClass: "page-newsletter"
---

<div class="newsletter container pb-6 pt-6 pt-md-10 pb-md-10">
    {{content}}
    <div>
        <form class="js-cm-form" id="subForm" action="https://www.createsend.com/t/subscribeerror?description="
            method="post"
            data-id="A61C50BEC994754B1D79C5819EC1255C8E7DF271CAE30B223898A4ECACB03F34EE1A91841B9C57F1AA36731F5EA4D2B0D4EABDC7D2A3FEB4C0207E890900FDB2">
            <div>
                <div class="newsletter-container-field">
                    <label for="fieldName" class="newsletter-label">Name</label>
                    <input id="fieldName" maxlength="200"
                        name="cm-name" placeholder="hier eintragen" class="newsletter-input-text">
                </div>
                <div class="newsletter-container-field">
                    <label for="fieldEmail" class="newsletter-label">E-Mail</label>
                    <input autocomplete="Email"
                        class="js-cm-email-input qa-input-email newsletter-input-text" id="fieldEmail" maxlength="200"
                        name="cm-tidkgj-tidkgj" placeholder="hier eintragen" required="" type="email">
                </div>
            </div>
            
            <button type="submit" class="button">Anmelden</button>
        </form>
    </div>
</div>
<script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>